/*iWebKit css 5.04 by Christopher Plieger*/body {
	position:relative;
	background-color:#000;
	background-image:url(/m/images/bg-sq-br.jpg);
	margin:0;
	-webkit-text-size-adjust:none;
	min-height:416px;
	font-family:helvetica, sans-serif;
	-webkit-background-size:0.438em 100%;
	
	-webkit-touch-callout:none
}
.center {
	margin:auto;
	display:block;
	text-align:center!important
}
img {
	border:0;
	vertical-align:middle;
}

ul li {
	line-height:13px;
	height:40px;
}

#topbar.black {
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), color-stop(3%, #636363), color-stop(50%, #202020), color-stop(51%, black), color-stop(97%, black), to(#262626))
}
#topbar.transparent {
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(133, 133, 133, 0.7)), color-stop(3%, rgba(99, 99, 99, 0.7)), color-stop(50%, rgba(32, 32, 32, 0.7)), color-stop(51%, rgba(0, 0, 0, 0.7)), color-stop(97%, rgba(0, 0, 0, 0.7)), to(rgba(38, 38, 38, 0.7)))
}
#topbar {
	position:relative;
	left:0;
	top:0;
	width:auto;
	height:60px;
	margin-bottom:13px
}
#title {
	height:auto;
	position:absolute;
	font-weight:bold;
	top:4px;
	left:0;
	right:0;
	padding:0 10px;
	text-align:center;	
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	color:#FFF;
	text-shadow:rgba(0, 0, 0, 0.6) 0 -1px 0
}

#title-logo {
	background-image:url(/m/images/consumers-logo.png);
	background-repeat:no-repeat;
	background-position:center;
	height:50px;
	position: relative;
}

#content {
	width:100%;
	position:relative;
	min-height:250px;
	margin-top:10px;
	height:auto;
	z-index:0;
	overflow:hidden
}
#footer {
	text-align:center;
	position:relative;
	margin:20px 10px 0;
	height:auto;
	width:auto;
	bottom:10px
}

.pageitem {
	-webkit-border-radius:8px;
	background-color:#fff;
	border:#878787 solid 1px;
	font-size:12pt;
	overflow:hidden;
	padding:0;
	position:relative;
	display:block;
	height:auto;
	width:auto;
	margin:3px 9px 17px;
	list-style:none
}
